<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/shared/head.ejs %>
</head>
<body class="container">
<header>
    <% include ../partials/shared/header.ejs %>
</header>
<main>
    <% include ../partials/upload/uploader.ejs %>
</main>
<footer>
    <% include ../partials/shared/footer.ejs %>
</footer>
</body>
</html>